html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
}

/*font-family: "Merriweather", serif;*/
/*font-family: "Montserrat", sans-serif;*/
/*font-family: "Raleway", sans-serif;*/

body {
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    color: #373A39;
    background: #fff;

}

.container {
    max-width: 1190px;
    padding: 0 10px;
    margin: 0 auto;
}

.title {
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: -1.65px;
    color: #242121;
    padding-bottom: 18px;
    position: relative;
    align-self: flex-start;

}

.title::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 4px;
    background: #FCBB08;
    left: 0;
    bottom: 0;
}

/*========================*/

.header__top-inner {
    padding-bottom: 29px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.menu__btn {
    display: none;
}

.menu {
}

.menu__list {
    display: flex;
    align-items: center;
}

.menu__list-item + .menu__list-item {
    margin-left: 38px;
}

.menu__list-link {
    padding: 0 6px 9px;
    font-size: 12px;
    text-transform: uppercase;
    color: #373A39;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    line-height: 14px;
    letter-spacing: .6px;
    transition: all .5s;
}

.menu__list-link:hover {
    border-bottom: 1px solid #FCBB08;
}

.header__content {
    background-image: url('../images/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
}

.header__content-inner {
    min-height: calc(100vh - 93px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header__title {
    font-weight: 500;
    font-size: 72px;
    line-height: 88px;
    color: #fff;
    margin-top: auto;
    margin-bottom: 19px;
    padding-top: 160px;
}

.header__subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.74px;
    color: #FCBB08;
    margin-bottom: auto;

}

.header__icon {
    margin-bottom: 62px;
}

/*========================*/

.about {
    background: #F6F8FA;
    padding: 150px 0 144px;
}

.about__inner {
    display: flex;
    justify-content: space-between;

}

.about__title {
    font-size: 48px;
}

.about__text p {
    max-width: 770px;
    margin-bottom: 16px;
    line-height: 24px;
}

/*========================*/

.expertise {
    padding: 140px -0px 160px;
}

.expertise__title {
    margin-bottom: 90px;
}

.expertise__inner {
    display: flex;
    margin-bottom: 110px;
}

.expertise__info {
    width: 370px;
    margin-right: 30px;
    margin-top: 10px;
    flex: none;
}

.expertise__info-item {
    border-top: 2px solid #1D1D1D;
    padding: 2px 0 28px;
    text-transform: uppercase;

    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    color: #1D1D1D;
    position: relative;
}

.expertise__info-item span {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 7px;
}

.expertise__info-item span:before {
    content: '';
    position: absolute;
    height: 2px;
    background: #f0f0f0;
    right: -7px;
    top: -2px;
    width: 100%;
}

.expertise__text p {
    margin-bottom: 25px;
}

.expertise__items {
    display: flex;
    justify-content: space-between;
}

.expertise__item {
    width: 370px;
    padding-left: 85px;
    position: relative;
}

.expertise__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
}

.expertise__item--vec::before {
    background-image: url(../images/icon-vector.svg);
}

.expertise__item--mon::before {
    background-image: url(../images/icon-monitor.svg);
}

.expertise__item--spe::before {
    background-image: url(../images/icon-speaker.svg);
}

.expertise__item-title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 4.29px;
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.expertise__item-text {
    color: #777777;
    line-height: 24px;
}

/*========================*/

.magic {
    background: #F6F8FA;
    background-image: url('../images/magic-bg.jpg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: left 82%;
}

.magic__inner {
    max-width: 470px;
    margin-left: auto;
    padding: 100px 0 190px;

}

.magic__title {
    margin-bottom: 70px;
}

.magic__text p {
    margin-bottom: 25px;
}

/*========================*/
.portfolio {
    padding: 140px 0 165px;
    text-align: center;
}

.portfolio__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.portfolio__filter-btn {
    margin-right: 40px;
}

.portfolio__btn {
    background: transparent;
    border: none;

    font-size: 12px;
    font-weight: 600;
    /*line-height: 24;*/
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #333333;
    padding: 2px 4px 5px;
    margin-right: 25px;
}

.mixitup-control-active {
    outline: #FCBB08;
    border-bottom: 1px solid #FCBB08;

}

.portfolio__content {
    /*
    display: flex;
    flex-flow: row wrap;
    */
    column-count: 4;
    column-gap: 22px;
}

.portfolio__item {
    margin-bottom: 22px;
    position: relative;
}

.portfolio__item img {
    width: 100%;
}

.portfolio__item-link {
    letter-spacing: 1.4px;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #4C4A4A;
    border: 12px solid #666565;
    opacity: 0;
    transition: opacity .3s;
}

.portfolio__item:hover .portfolio__item-link {
    opacity: 0.7;
}

.portfolio__more {
    display: block;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1.2px;
    font-weight: 700;
    text-transform: uppercase;
    color: #242121;
    padding: 40px 15px;
    bgcolor: #F6F8FA;
    margin-bottom: 130px;
}

.portfolio__blockquote {
    max-width: 650px;
    margin: 0 auto 148px;
    font-family: "Merriweather", serif;
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    line-height: 36px;
    color: #242121;

}

.portfolio__blockquote-author {
    display: block;
    font-size: 14px;
    line-height: 32px;
    font-weight: 300;
    color: #9E9E9E;
    padding-top: 50px;
}

.portfolio__video {
    background-image: url('../images/video-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 324px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 165px;
}

.portfolio__numbers {
    display: flex;
    justify-content: space-around;
}

.portfolio__numbers-item {
    margin-bottom: 9px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 73px;
    color: #242121;
}

.portfolio__numbers span {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #333;
    text-transform: capitalize;
}

/*========================*/

.slider-block {
    background: #F8F6FA;
    padding: 115px 0;
}

.slick-list draggable {
    margin: 0;
    padding: 0;
}

.slider-block__item {
    padding: 200px 0;

}

.slider-block__item-title {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 52px;
    margin-bottom: 10px;
    color: #242121;
    max-width: 675px;
    display: inline-block;
}

.slider-block__item-descr {
    max-width: 575px;
    color: #373A39;
    margin-bottom: -100px;
}

.slick-dots {
    display: flex;
}

.slick-dots li + li {
    margin-left: 13px;
}

.slick-dots button {
    background: #242121;
    opacity: 0.4;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    font-size: 0;
    padding: 0;
    border: none;
}

.slick-dots .slick-active button {
    opacity: 1;
    width: 10px;
    height: 10px;
    transform: translateY(-2px);
}

.slick-prev,
.slick-next {
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-150%);
}

.slick-prev {
    left: -95px;
}

.slick-next {
    right: -95px;
}

/*========================*/
.team {
    padding: 120px 0 130px;
}

.team__title {
    margin-bottom: 100px;
}

.team__items {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.team__name {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #333333;
    margin: 35px 0 10px;
}

.team__position {
    font-size: 12px;
    line-height: 16px;
}

/*========================*/
.pricing {
    background: #F6F8FA;
    padding: 144px 0 162px;

}

.pricing__title {
    margin-bottom: 90px;
}

.pricing__items {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.pricing__items .pricing__item {
    background: #fff;
    min-width: 370px;
    font-size: 16px;
    line-height: 22px;
    padding: 24px 25px 50px;
}

.pricing__item li {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 30px;
}

.pricing__item .pricing__item-name {
    text-align: left;
    font-weight: 700;
    margin-bottom: 8px;
}

.pricing__item .pricing__item-num {
    font-size: 80px;
    line-height: 109px;
    margin-bottom: 50px;
}

.pricing__item-num sup {
    font-size: 40px;
    line-height: 54px;
}

.pricing__item-link {
    margin-top: 70px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #242121;
    display: block;
}

/*========================*/
.clients {
    padding: 70px 0 95px;

}

.clients__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/*========================*/
.conect {
    padding: 145px 0 165px;
    background-image: url('../images/map.jpg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right 65%;
}

.conect__title {
    margin-bottom: 80px;
}

.form {
    max-width: 570px;
}

.form input,
.form textarea {
    border: none;
    border-bottom: 2px solid #373A39;
    display: block;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 0;
    margin-bottom: 16px;
}

.form textarea {
    min-height: 140px;
    resize: none;
    margin-bottom: 40px;
}

.form input::placeholder,
.form textarea::placeholder {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 3.71px;
    text-transform: uppercase;
    color: #B8B8B8;
    font-weight: 300;
}

.form button {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 15px 70px;
    background: #242121;
    cursor: pointer;
}

/*========================*/
.footer__header {
    padding: 110px 10px 60px;
    background: #333333;
    color: #fff;
    text-align: center;
}

.footer__copy {
    padding: 40px 0;
    background: #2A2C2B;
    color: #fff;
}

.footer__logo {
    display: inline-block;
    padding: 0 35px;
    border-bottom: 2px solid #FCBB08;
    margin-bottom: 70px;
}

.footer__header .footer__social {
    display: flex;
    justify-content: center;
    margin-bottom: 65px;
}

.footer__social-list {
    padding: 0 15px;

}

.footer__social-link {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer__address {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.address,
.phone,
.email {
    line-height: 32px;
    color: #fff;
    font-style: normal;
    margin-bottom: 10px;
}

.go-top {
    display: inline-block;
}

.footer__copy {
    padding: 40px 10px;
    text-align: center;
}

/*========================*/


/*@media (max-width: 1500px) {
    body{
        display: none;
    }
}*/
@media (max-width: 768px) {
    .menu__list {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        background: #000;
        display: block;
        text-align: center;
        transform: translateY(-200%);
        transition: all 0.3s;
    }
    ul.menu__list{
        padding: 90px 0 15px;
    }
    .menu__list-item + .menu__list-item {
        margin-left: 0;
    }
    .menu__list-link {
        display: block;
        padding: 15px 0;
        color:#fff
    }
    .logo{
        position: relative;
        z-index: 2;
    }
    .menu__btn {
        display: block;
        background: transparent;
        border: none;
        padding: 0;
        margin-top: 30px;
        position: relative;
        z-index: 2;
    }
    .header__top-inner path,
    .header__top-inner rect{
transition: all 3s;
    }
    .header__top-inner.header__top-inner--active .menu__list{
        transform: translateY(0);
    }
    .header__top-inner.header__top-inner--active path{
fill: #fff;
    }
    .header__top-inner.header__top-inner--active .menu__btn rect{
fill: #fff;
    }

    .header__top-inner{
        align-items: center;
    }

    .header__title {
        font-size: 50px;
        line-height: 65px;
        margin-bottom: 10px;
    }

    .header__subtitle {
        font-size: 14px;
        line-height: 18px;
    }
}

@media (max-width: 440px) {
    .header__title {
        font-size: 36px;
        line-height: 44px;
    }

    .header__subtitle {
        font-size: 12px;
        line-height: 14px;
    }
}




























